%f14f {
	font-size: 14px;
	color: #fff;
}

%f148 {
	font-size: 14px;
	color: #8c8c8c;
}

%f145 {
	font-size: 14px;
	color: #595959;
}

%ffb {
	font-family: MicrosoftYaHei-Bold;
}
%basebgc {
	background-color: #0fa5a0;
}
%topheight {
	margin-top: 65px;
}
$bbgc: #0fa5a0;
